# Ignore unencrypted secrets
todo-backend/manifests/postgres-secret.yaml
ping-pong/manifests/pingpong-secret.yaml

# Ignore keys
todo-backend/age-key.txtProject/github-actions-key.json
key.txt
private-key.json
